In [16]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv("Automobile_data.csv")

In [18]:
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [19]:
# data cleaning

In [20]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [21]:
df.sample(10)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

In [23]:
#1 what is the average price and average mileage for convertible cars
print(df['price'].mean())
print(df['average-mileage'].mean())

15387.0
25.80327868852459

In [24]:
#2 Sort cars by company and price in decending order
df[['company','price']].sort_values( by='company',ascending = True)

        company    price
0   alfa-romero  13495.0
1   alfa-romero  16500.0
2   alfa-romero  16500.0
3          audi  13950.0
4          audi  17450.0
..          ...      ...
55   volkswagen   7775.0
56   volkswagen   7975.0
58   volkswagen   9995.0
59        volvo  12940.0
60        volvo  13415.0

[61 rows x 2 columns]

In [25]:
#3 Save data for 'Toyota' separately

In [26]:
#4 which company is producing most expensive car?
#max_company=df.loc[df['price'].idxmax() ,'company' ]   
#print(max_company)

df.groupby('company')['price'].max().sort_values().tail(1)

company
mercedes-benz    45400.0
Name: price, dtype: float64

In [27]:
#5 Name the cars on basis of maximum length, highest wheelbase, maximum horsepower
df.groupby('company')[['length', 'wheel-base' , 'horsepower']].max()

               length  wheel-base  horsepower
company
alfa-romero     171.2        94.5         154
audi            192.7       105.8         115
bmw             197.0       110.0         182
chevrolet       158.8        94.5          70
dodge           157.3        93.7          68
honda           175.4        96.5         101
isuzu           170.7        94.5          78
jaguar          199.6       113.0         262
mazda           175.0       104.9         101
mercedes-benz   208.1       120.9         184
mitsubishi      172.4        96.3          88
nissan          184.6       100.4         152
porsche         175.7        98.4         288
toyota          187.8       104.5         156
volkswagen      171.7        97.3         100
volvo           188.8       104.3         114

In [28]:
#6 company wise average price of cars and order them in decending order
df.groupby('company')['price'].mean().sort_values(ascending= False)

company
porsche          35528.000000
mercedes-benz    35040.000000
jaguar           34600.000000
bmw              27213.333333
audi             16392.500000
alfa-romero      15498.333333
volvo            13177.500000
honda            10195.000000
mazda             9654.800000
volkswagen        8435.000000
nissan            8289.000000
toyota            8216.857143
isuzu             6785.000000
mitsubishi        6689.000000
dodge             6303.000000
chevrolet         6007.000000
Name: price, dtype: float64

In [29]:
#7 create a column named: "decision", If wheel-base is less than 100 and length is less than 175 then "don't buy" else "buy"
df['decision']= np.where((df['wheel-base']<100)&(df['length']<175),
                      "don't buy" ,
                         "buy")

In [30]:
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,decision
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,don't buy
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,don't buy
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,don't buy
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,buy
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,buy
...,...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,don't buy
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,don't buy
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,don't buy
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,buy
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,buy

In [47]:
#8 Select only cars whose decision is "buy"; find average price based on company of ca
df[df['decision']=="buy"].groupby('company')['price'].mean()

company
audi             16392.500000
bmw              27213.333333
honda            12945.000000
jaguar           34600.000000
mazda            18344.000000
mercedes-benz    35040.000000
nissan           13499.000000
porsche                   NaN
toyota           15750.000000
volvo            13177.500000
Name: price, dtype: float64